venv/
.terraform/
*.db
mlruns/
artifacts/

# Python virtual environment
venv-model/
kserve-sklearn/venv-model/
**/venv-model/
*.pkl

venv-model/
venv-kserve/
__pycache__/
*.pyc

venv-model/
venv-kserve/
__pycache__/
*.pyc
